NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCLnPtU2Uq5qbhgRPpfnRUili0gLW1R6HI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=collegeverse-99d69.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=collegeverse-99d69
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=collegeverse-99d69.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=26696039516
NEXT_PUBLIC_FIREBASE_APP_ID=1:26696039516:web:641dd6ed12fd2425b0ba99
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=4JXNEMT5CG
